bin/
*.bhd5
*.bhd
*.bdt
*.flver
*.dcx
*.anibnd*
*.chrbnd*
*.chrtpfbdt*
*.tae*
*.xml*
*.hkx*
*.flver*
*.hkwpwv*
*.tpf*
.vscode/
data/
DATA/
*.xml
*.pyc
*.flver
*.dcx
*.dds
*.anibnd
*.chrbnd
build/
build/*
bin/
bin/*
.vs/
.vs/*
.vscode/
.vscode/*
dist/
.dist/
*.egg-info
*.egg-info/*
__pycache__/
__pycache__/*